* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #1F2937;
}
.nav ul {
    display: flex;
    gap: 20px;
}
.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
    float: left;
}

li a {
    color: white;
}

h1 {
    color: white;

}

h2.call-to-action-btnn {
    color: white;
    font-size: 18px;
}

p {
    color: white;
    font-size: 14px;
}
.call-to-action {
    display: flex;
    background-color: #3882F6;
    color: white;
    height: auto;
    padding: 35px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 30rem;
    margin-right: 30rem;
    border-radius: 5px;
    text-decoration: none;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.call-to-action-btnn-1{
   ;
    
}
.call-to-action-btnn-2 {

}
.btn1 {
    background-color: #3882F6;
    border-color: white;
    color: white;
    padding: 5px 25px;
    border-radius: 7px;
    float: right;
    align-items: center;
    justify-content: center;
}

#quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    color: #1F2937;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    text-align: left;
    height: auto;
}
#quote p {
    width: 41%;
    float: left;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    padding-top: 10rem;
    color: #1F2937;
}
.information-header-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}
.header {
    display: flex;
    height: auto;
    background-color: #1F2937;
    padding: 80px;
    justify-content: center;
    gap: 35px;
}
.item1 {
    margin-top: 40px;
    height: 190px;
    width: 450px;
}
.item1 button {
    background-color: #3882F6;
    color: white;
    padding: 5px 25px;
    margin-top: 13px;
    border-radius: 7px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.item2 {
    background-color: rgb(161, 161, 161);
    height: 210px;
    width: 450px;
    margin-top: 40px;
}
#main {
    height: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.maincontent {
    background-color: #e5e7eb;
    color: #1F2937;
    font-size: 12px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid #3882F6;
}
.information-header-text {
    padding: 20px;
}