* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1F2937;
}
.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
    float: left;
}

li a {
    color: white;
}

h1 {
    color: white;

}
h2.call-to-action-btnn {
    color: white;
    font-size: 18px;
}

p {
    color: white;
    font-size: 14px;
}
.call-to-action {
    background-color: #3882F6;
    color: white;
    width: 1000px;
    height: 7rem    ;
    padding: 10px 20px;
    margin: 50px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.call-to-action-btnn-1{
    float: left;
    padding-top: 25px;
    text-align: left;
    padding-left: 6rem;
    
}
.call-to-action-btnn-2 {
    float: right;
    padding-top: 25px;
    padding-right: 6rem;
}
.btn1 {
    background-color: #3882F6;
    border-color: white;
    color: white;
    padding: 5px 25px;
    border-radius: 7px;
    float: right;
    align-items: center;
    justify-content: center;
}